@import "includes/reset"

@import "includes/variables"
@import "includes/font"
@import "includes/graphics"

@include declare-font-face('Helvetica Neue', 'Helvetica_Neue_UltraLight', 100)





body
  background-color: $main-background-color
  font-family: $font-stack
  position: relative
  padding: $top-space 0 $top-space * 1.6 0
  &:after
    content: ""
    @include body-pattern()
    opacity: 0.01
    top: 0
    left: 0
    bottom: 0
    right: 0
    position: absolute
    z-index: -1


.tiles
  padding: 0
  margin: 0 auto

  list-style: none

  display: flex
  flex-wrap: wrap
  justify-content: flex-start

  width: $tile-size-basic * 6 + $gutter * 6
  @media screen and (max-width: $break-5)
    width: $tile-size-basic * 5 + $gutter * 5
    //background-color: rgba(yellow, 1)
  @media screen and (max-width: $break-4)
    width: $tile-size-basic * 4 + $gutter * 4
    //background-color: rgba(yellow, 0.75)
  @media screen and (max-width: $break-3)
    width: $tile-size-basic * 3 + $gutter * 3
    //background-color: rgba(red, 0.5)
  @media screen and (max-width: $break-2)
    width: $tile-size-basic * 2 + $gutter * 2
    //background-color: rgba(yellow, 0.25)

  h1
    color: $main-text-color
    font-size: 48pt
    margin-bottom: $top-space
    flex-basis: 100%
    margin: 0  0 $top-space $gutter/2
    order: 0

  .tile
    padding: 0

    width: $tile-size-basic
    height: $tile-size-basic

    margin: $gutter / 2

    line-height: $tile-size-basic
    color: white
    font-weight: bold
    font-size: 36pt
    text-align: center

    flex-shrink: 0

    // Reorder tiles on small screens

    @for $i from 1 through 10
      &[data-order='#{$i}']
        order: $i*10

    @media screen and (max-width: $break-5)
      &[data-order='7']
        order: 51
      &[data-order='8']
        order: 52

    @media screen and (max-width: $break-4)
      &[data-order='7']
        order: 70
      &[data-order='8']
        order: 80

    @media screen and (max-width: $break-3)
      &[data-order='8']
        order: 21

    @media screen and (max-width: $break-2)
      &[data-order='8']
        order: 80

    &.wide
      width: $tile-size-basic * 2 + $gutter

    &.extra-wide
      width: $tile-size-basic * 3 + $gutter * 2
      @media screen and (max-width: $break-2)
        width: $tile-size-basic * 2 + $gutter * 1

    &.inline
      width: auto
      height: $tile-size-basic / 2 + $gutter
      margin: $gutter / 2 -$gutter / 2
      background-color: transparent
      display: flex
      flex-wrap: wrap
      @media screen and (max-width: $break-2)
        height: $tile-size-basic + $gutter
        width: $tile-size-basic + $gutter
        margin: 0

      & .small
        width: $tile-size-basic / 2
        height: $tile-size-basic / 2
        margin: $gutter / 2
        line-height: $tile-size-basic / 2
        font-size: 14pt
        @media screen and (max-width: $break-2)
          width: $tile-size-basic / 2 - $gutter / 2
          height: $tile-size-basic / 2 - $gutter / 2

    &.floated
      flex-grow: 1
      flex-shrink: 1

      height: $tile-size-basic / 2
      line-height: $tile-size-basic / 2

      text-align: right
      font-size: 10pt
      letter-spacing: 0.5px
      color: rgba($main-text-color, 0.75)


.copyright
  line-height: 1.3
  display: inline-block
  vertical-align: middle


.interactive
  cursor: pointer
  outline: 1px solid transparent
  transform: rotateY(0)
  transition: outline-color 0.33s, transform 0.33s
  &:hover
    outline-color: rgba(white, 0.85)
    transform: perspective(200px) rotateY(-180deg)

  .wide &:active
    transform: perspective(20px) rotateY(-180deg)

  &.home
    background-color: $color-home
    // &:hover
    //   outline-color: rgba($color-home, 0.5)
  &.about
    background-color: $color-about
    // &:hover
    //   outline-color: rgba($color-about, 0.5)
  &.portfolio
    background-color: $color-portfolio
    // &:hover
    //   outline-color: rgba($color-portfolio, 0.5)
  &.photos
    background-color: $color-photos
    // &:hover
    //   outline-color: rgba($color-photos, 0.5)
  &.testimomials
    background-color: $color-testimomials
    // &:hover
    //   outline-color: rgba($color-testimomials, 0.5)
  &.hr
    background-color: $color-hr
    // &:hover
    //   outline-color: rgba($color-hr, 0.5)
  &.blog
    background-color: $color-blog
    // &:hover
    //   outline-color: rgba($color-blog, 0.5)
  &.contacts
    background-color: $color-contacts
    // &:hover
    //   outline-color: rgba($color-contacts, 0.5)

  &.facebook
    background-color: $color-facebook
    @include facebook-icon()
    // &:hover
    //   outline-color: rgba($color-facebook, 0.5)
  &.twitter
    background-color: $color-twitter
    @include twitter-icon()
    // &:hover
    //   outline-color: rgba($color-twitter, 0.5)
  &.google
    background-color: $color-google
    @include google-icon()
    // &:hover
    //   outline-color: rgba($color-google, 0.5)


// .tile.wide.interactive
//     &:active
//     transform: perspective(400px) rotateY(-180deg)

// .tile.extra-wide.interactive
//     &:active
//     transform: perspective(400px) rotateY(-180deg)
