@import "includes/reset"
@import "includes/font"
@import "includes/graphics"

@include declare-font-face('Helvetica Neue', 'Helvetica_Neue_UltraLight', 100)


$font-stack: 'Helvetica Neue', Helvetica, sans-serif

$gutter: 10px
$tile-size-basic: 150px

$top-space: 100px

$main-background-color: #162a60
$main-text-color: white

$break-medium: $tile-size-basic * 6 + $gutter * 8


body
  background-color: $main-background-color
  font-family: $font-stack
  padding: $top-space 0 $top-space * 1.5 0
  &:after
    content: ""
    @include body-pattern()
    opacity: 0.01
    top: 0
    left: 0
    bottom: 0
    right: 0
    position: absolute
    z-index: -1


.tiles
  padding: 0
  margin: 0 auto

  list-style: none

  display: flex
  flex-wrap: wrap
  justify-content: flex-start

  width: $tile-size-basic * 6 + $gutter * 6
  @media screen and (max-width: $break-medium)
    width: 100%
    //justify-content: space-around
    background-color: rgba(green, 0.25)

  h1
    color: $main-text-color
    font-size: 48pt
    margin-bottom: $top-space
    flex-basis: 100%
    margin: 0  0 $top-space -$gutter/2

  .tile
    background: tomato
    padding: 0

    width: $tile-size-basic
    height: $tile-size-basic

    margin: $gutter / 2

    line-height: $tile-size-basic
    color: white
    font-weight: bold
    font-size: 3em
    text-align: center

    flex-shrink: 0

  .tile.wide
    width: $tile-size-basic * 2 + $gutter

  .tile.extra-wide
    width: $tile-size-basic * 3 + $gutter * 2

  .tile.small
    width: $tile-size-basic / 2
    height: $tile-size-basic / 2
    line-height: $tile-size-basic / 2
    font-size: 1.5em

  .tile.small.floated
    flex-grow: 1
    flex-shrink: 1

    text-align: right
    background-color: rgba(yellow, 0.25)
    font-size: 10pt
    letter-spacing: 0.5px
    color: rgba($main-text-color, 0.75)