@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
  @font-face {
  font-family: '#{$font-family}';
  src: url('../font/#{$font-filename}/#{$font-filename}.eot');
  src: url('../font/#{$font-filename}/#{$font-filename}.woff2') format('woff2'),
  url('../font/#{$font-filename}/#{$font-filename}.woff') format('woff'),
  url('../font/#{$font-filename}/#{$font-filename}.ttf') format('truetype'),
  url('../font/#{$font-filename}/#{$font-filename}.svg##{$font-family}') format('svg'),
  url('../font/#{$font-filename}/#{$font-filename}.eot?#iefix') format('embedded-opentype');
  font-weight: $font-weight;
  font-style: $font-style;
  font-stretch: $font-stretch;
  }
}
